<div class="pdp_main">

    <div id="primary" class="primary_content product_images_container ">

        <div class="product_images_section">

            <div id="thumbnails" class="product_thumbnails">
                <div class="thumb active selected">
                    <img src="img/conf_sm_img_1.jpg"/>
                </div>
                <div class="thumb">
                    <img src="img/conf_sm_img_2.jpg"/>
                </div>
                <div class="thumb">
                    <img src="img/conf_sm_img_3.jpg"/>
                </div>
                <div class="thumb">
                    <img src="img/conf_sm_img_4.jpg"/>
                </div>
            </div>
            
            <div class="product_primary_image_wrap">
                <div class="product_primary_image">
                    <img src="img/conf_m_img_1.jpg"/>               
                </div>  
                <span class="product_img_prev"></span>
                <span class="product_img_next"></span>  
            </div>
            
        </div>
    </div>

    <div id="secondary" class="secondary_content product_detail">
        <h1 class="product-name" itemprop="name">HERALD</h1>
        <div id="product-content" class="js-product-content">
            
            <h2 class="product-short-description inherit-font-styles">Men´s leather trainer in Grenade</h2>

            <div class="product-variations">
                <ul class="product-variations-list menu baseline-medium">                   
                    <li class="attribute attribute-size">
                        <h3 class="label label-select is-mobile">Size</h3>
                        <ul class="js-menu-swatches menu-horz-block">
                            <li class="swatch-item emptyswatch unselectable"><a href="#">30</a></li>
                            <li class="swatch-item emptyswatch unselectable"><a href="#">30</a></li>
                            <li class="swatch-item emptyswatch unselectable"><a href="#">30</a></li>
                            <li class="swatch-item emptyswatch unselectable"><a href="#">30</a></li>
                            <li class="swatch-item emptyswatch unselectable"><a href="#">30</a></li>
                            <li class="swatch-item emptyswatch unselectable"><a href="#">30</a></li>
                        </ul>
                    </li>
                </ul>
    
                
            </div>
            <div class="product-add-to-cart">
                <button type="button" value="null" class="btn-primary btn-pdp-cta btn-call-to-buy">Help to buy</button>
            </div>

            <div id="product-tabs" class="product-tabs js-product-tabs">
                
            </div>

            <div class="js-panel-wrapper share-buttons clearfix"></div>
        </div>
    </div>
</div>