<video  controls preload="yes" id="player_1" class="am_player">
    <source src="video/video_youtube_1.mp4" type="video/mp4" />
</video>

<!-- <video  controls preload="yes" id="player_2" class="am_player">
    <source src="video/video_youtube_2.mp4" type="video/mp4" />
</video> -->


<script>
    $('#player_1').Am_player({
        sprites_count : 41,
        sprite_step : 92,
    });  
    // $('#player_2').Am_player({
    //     sprites_count : 47,
    //     sprite_step : 92,
    // });
</script>
