.pdp_main {
    font-family: Verdana;
}

.product_images_container {
    width: 810px;
    float: left;

    @include respond-to(tablet) {
        width: 645px;
    }
}

.secondary_content {
    width: 300px;
    float: right;

    @include respond-to(tablet) {
        width: calc(95% - 645px);
    }
}

.product_primary_image_wrap {
    position: relative;
    float: right;
    
    border: 1px solid #000;

    @include respond-to(desktop) {
        margin-left: 15px;
    }

    @include respond-to(tablet) {
        margin-bottom: 20px;
    }

    .product_primary_image {
        overflow: hidden;
        max-height: 640px;
        width: 640px;
    }

    img {
        display: block;
        width: 100%;
        position: relative;
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;

        &.zoomed {
            width: auto;
            cursor: -moz-zoom-out;
            cursor: -webkit-zoom-out;
            cursor: zoom-out;
        }
    }
}

.product_images_section {
    @include clearfix;
}

.product_thumbnails {
    @include respond-to(desktop) {
        width: 150px;
        float: left;
    }

    @include respond-to(tablet) {
        clear: both;
    }

    .thumb {
        border: 1px solid transparent;

        @include respond-to(desktop) {
            margin-bottom: 14px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include respond-to(tablet) {
            float: left;
            margin-left: 1.5px;

            &:first-child {
                margin-left: 0;
            }
        }

        cursor: pointer;

        img {
            display: block;
            width: 100%;
        }

        &.selected {
            border: 1px solid #000;
        }
    }
}

.product_img_prev , .product_img_next {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 50%;   
    cursor: pointer;
    margin-top: -20px;
    z-index: 10;
    
    &:after, &:before {
        content: '';
        position: absolute;
        background: #000;
    } 
    &:hover {
        &:before, &:after {
            background: #888;
        }
    }
}

.product_img_prev {
    left: 10px;

    &:after {
        top: 17px;
        width: 2px;
        left: 7px;
        background: #000;
        height: 20px;
        transform: rotate(-45deg);
    }

    &:before {
        top: 3px;
        left: 8px;
        width: 2px;
        height: 20px;   
        transform: rotate(45deg);
    }
}

.product_img_next {
    right: 10px;

    &:after {
        top: 17px;
        right: 8px;
        width: 2px;
        height: 20px;
        transform: rotate(45deg);
    }

    &:before {
        top: 3px;
        right: 8px;
        width: 2px;
        height: 20px;
        transform: rotate(-45deg);
    }
}

.product-name {
    margin-bottom: 10px;
    color: #444;
}

.product-short-description  {
    text-transform: uppercase;
    margin: 0 0 10px;
    color: #616365;
    font-size: 15px;
}

.swatch-item {
    float: left;
    padding: 0 2px 4px;
    text-align: center;
    text-transform: capitalize;

    a {
        border: 1px dashed #d1d1d1;
        display: block;
        min-width: 44px;
        height: 44px;
        line-height: 44px;
        color: #616365;
        padding: 0 1px; 

        &:hover {
            background-color: #f3f3f3;
        }
    }
}

.product-variations {
    .label {
        color: #616365;
        margin-bottom: 10px;
    }
}

.btn-pdp-cta {
    margin-top: 20px;
    background: #762322;
    border: 1px solid #762322;
    padding: 16px 30px;
    width: 100%;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #fff;
    transition: background .2s ease-in;

    &:hover {
        background: #611503;
    }
}