/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$scene00001-name: 'scene00001';
$scene00001-x: 0px;
$scene00001-y: 92px;
$scene00001-offset-x: 0px;
$scene00001-offset-y: -92px;
$scene00001-width: 160px;
$scene00001-height: 92px;
$scene00001-total-width: 160px;
$scene00001-total-height: 4324px;
$scene00001-image: '../img/sprite.png';
$scene00001: (0px, 92px, 0px, -92px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00001', );
$scene00051-name: 'scene00051';
$scene00051-x: 0px;
$scene00051-y: 2116px;
$scene00051-offset-x: 0px;
$scene00051-offset-y: -2116px;
$scene00051-width: 160px;
$scene00051-height: 92px;
$scene00051-total-width: 160px;
$scene00051-total-height: 4324px;
$scene00051-image: '../img/sprite.png';
$scene00051: (0px, 2116px, 0px, -2116px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00051', );
$scene00101-name: 'scene00101';
$scene00101-x: 0px;
$scene00101-y: 184px;
$scene00101-offset-x: 0px;
$scene00101-offset-y: -184px;
$scene00101-width: 160px;
$scene00101-height: 92px;
$scene00101-total-width: 160px;
$scene00101-total-height: 4324px;
$scene00101-image: '../img/sprite.png';
$scene00101: (0px, 184px, 0px, -184px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00101', );
$scene00151-name: 'scene00151';
$scene00151-x: 0px;
$scene00151-y: 276px;
$scene00151-offset-x: 0px;
$scene00151-offset-y: -276px;
$scene00151-width: 160px;
$scene00151-height: 92px;
$scene00151-total-width: 160px;
$scene00151-total-height: 4324px;
$scene00151-image: '../img/sprite.png';
$scene00151: (0px, 276px, 0px, -276px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00151', );
$scene00201-name: 'scene00201';
$scene00201-x: 0px;
$scene00201-y: 368px;
$scene00201-offset-x: 0px;
$scene00201-offset-y: -368px;
$scene00201-width: 160px;
$scene00201-height: 92px;
$scene00201-total-width: 160px;
$scene00201-total-height: 4324px;
$scene00201-image: '../img/sprite.png';
$scene00201: (0px, 368px, 0px, -368px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00201', );
$scene00251-name: 'scene00251';
$scene00251-x: 0px;
$scene00251-y: 460px;
$scene00251-offset-x: 0px;
$scene00251-offset-y: -460px;
$scene00251-width: 160px;
$scene00251-height: 92px;
$scene00251-total-width: 160px;
$scene00251-total-height: 4324px;
$scene00251-image: '../img/sprite.png';
$scene00251: (0px, 460px, 0px, -460px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00251', );
$scene00301-name: 'scene00301';
$scene00301-x: 0px;
$scene00301-y: 552px;
$scene00301-offset-x: 0px;
$scene00301-offset-y: -552px;
$scene00301-width: 160px;
$scene00301-height: 92px;
$scene00301-total-width: 160px;
$scene00301-total-height: 4324px;
$scene00301-image: '../img/sprite.png';
$scene00301: (0px, 552px, 0px, -552px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00301', );
$scene00351-name: 'scene00351';
$scene00351-x: 0px;
$scene00351-y: 644px;
$scene00351-offset-x: 0px;
$scene00351-offset-y: -644px;
$scene00351-width: 160px;
$scene00351-height: 92px;
$scene00351-total-width: 160px;
$scene00351-total-height: 4324px;
$scene00351-image: '../img/sprite.png';
$scene00351: (0px, 644px, 0px, -644px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00351', );
$scene00401-name: 'scene00401';
$scene00401-x: 0px;
$scene00401-y: 736px;
$scene00401-offset-x: 0px;
$scene00401-offset-y: -736px;
$scene00401-width: 160px;
$scene00401-height: 92px;
$scene00401-total-width: 160px;
$scene00401-total-height: 4324px;
$scene00401-image: '../img/sprite.png';
$scene00401: (0px, 736px, 0px, -736px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00401', );
$scene00451-name: 'scene00451';
$scene00451-x: 0px;
$scene00451-y: 828px;
$scene00451-offset-x: 0px;
$scene00451-offset-y: -828px;
$scene00451-width: 160px;
$scene00451-height: 92px;
$scene00451-total-width: 160px;
$scene00451-total-height: 4324px;
$scene00451-image: '../img/sprite.png';
$scene00451: (0px, 828px, 0px, -828px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00451', );
$scene00501-name: 'scene00501';
$scene00501-x: 0px;
$scene00501-y: 920px;
$scene00501-offset-x: 0px;
$scene00501-offset-y: -920px;
$scene00501-width: 160px;
$scene00501-height: 92px;
$scene00501-total-width: 160px;
$scene00501-total-height: 4324px;
$scene00501-image: '../img/sprite.png';
$scene00501: (0px, 920px, 0px, -920px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00501', );
$scene00551-name: 'scene00551';
$scene00551-x: 0px;
$scene00551-y: 1012px;
$scene00551-offset-x: 0px;
$scene00551-offset-y: -1012px;
$scene00551-width: 160px;
$scene00551-height: 92px;
$scene00551-total-width: 160px;
$scene00551-total-height: 4324px;
$scene00551-image: '../img/sprite.png';
$scene00551: (0px, 1012px, 0px, -1012px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00551', );
$scene00601-name: 'scene00601';
$scene00601-x: 0px;
$scene00601-y: 1104px;
$scene00601-offset-x: 0px;
$scene00601-offset-y: -1104px;
$scene00601-width: 160px;
$scene00601-height: 92px;
$scene00601-total-width: 160px;
$scene00601-total-height: 4324px;
$scene00601-image: '../img/sprite.png';
$scene00601: (0px, 1104px, 0px, -1104px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00601', );
$scene00651-name: 'scene00651';
$scene00651-x: 0px;
$scene00651-y: 1196px;
$scene00651-offset-x: 0px;
$scene00651-offset-y: -1196px;
$scene00651-width: 160px;
$scene00651-height: 92px;
$scene00651-total-width: 160px;
$scene00651-total-height: 4324px;
$scene00651-image: '../img/sprite.png';
$scene00651: (0px, 1196px, 0px, -1196px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00651', );
$scene00701-name: 'scene00701';
$scene00701-x: 0px;
$scene00701-y: 1288px;
$scene00701-offset-x: 0px;
$scene00701-offset-y: -1288px;
$scene00701-width: 160px;
$scene00701-height: 92px;
$scene00701-total-width: 160px;
$scene00701-total-height: 4324px;
$scene00701-image: '../img/sprite.png';
$scene00701: (0px, 1288px, 0px, -1288px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00701', );
$scene00751-name: 'scene00751';
$scene00751-x: 0px;
$scene00751-y: 1380px;
$scene00751-offset-x: 0px;
$scene00751-offset-y: -1380px;
$scene00751-width: 160px;
$scene00751-height: 92px;
$scene00751-total-width: 160px;
$scene00751-total-height: 4324px;
$scene00751-image: '../img/sprite.png';
$scene00751: (0px, 1380px, 0px, -1380px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00751', );
$scene00801-name: 'scene00801';
$scene00801-x: 0px;
$scene00801-y: 1472px;
$scene00801-offset-x: 0px;
$scene00801-offset-y: -1472px;
$scene00801-width: 160px;
$scene00801-height: 92px;
$scene00801-total-width: 160px;
$scene00801-total-height: 4324px;
$scene00801-image: '../img/sprite.png';
$scene00801: (0px, 1472px, 0px, -1472px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00801', );
$scene00851-name: 'scene00851';
$scene00851-x: 0px;
$scene00851-y: 1564px;
$scene00851-offset-x: 0px;
$scene00851-offset-y: -1564px;
$scene00851-width: 160px;
$scene00851-height: 92px;
$scene00851-total-width: 160px;
$scene00851-total-height: 4324px;
$scene00851-image: '../img/sprite.png';
$scene00851: (0px, 1564px, 0px, -1564px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00851', );
$scene00901-name: 'scene00901';
$scene00901-x: 0px;
$scene00901-y: 1656px;
$scene00901-offset-x: 0px;
$scene00901-offset-y: -1656px;
$scene00901-width: 160px;
$scene00901-height: 92px;
$scene00901-total-width: 160px;
$scene00901-total-height: 4324px;
$scene00901-image: '../img/sprite.png';
$scene00901: (0px, 1656px, 0px, -1656px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00901', );
$scene00951-name: 'scene00951';
$scene00951-x: 0px;
$scene00951-y: 1748px;
$scene00951-offset-x: 0px;
$scene00951-offset-y: -1748px;
$scene00951-width: 160px;
$scene00951-height: 92px;
$scene00951-total-width: 160px;
$scene00951-total-height: 4324px;
$scene00951-image: '../img/sprite.png';
$scene00951: (0px, 1748px, 0px, -1748px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene00951', );
$scene01001-name: 'scene01001';
$scene01001-x: 0px;
$scene01001-y: 1840px;
$scene01001-offset-x: 0px;
$scene01001-offset-y: -1840px;
$scene01001-width: 160px;
$scene01001-height: 92px;
$scene01001-total-width: 160px;
$scene01001-total-height: 4324px;
$scene01001-image: '../img/sprite.png';
$scene01001: (0px, 1840px, 0px, -1840px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01001', );
$scene01051-name: 'scene01051';
$scene01051-x: 0px;
$scene01051-y: 1932px;
$scene01051-offset-x: 0px;
$scene01051-offset-y: -1932px;
$scene01051-width: 160px;
$scene01051-height: 92px;
$scene01051-total-width: 160px;
$scene01051-total-height: 4324px;
$scene01051-image: '../img/sprite.png';
$scene01051: (0px, 1932px, 0px, -1932px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01051', );
$scene01101-name: 'scene01101';
$scene01101-x: 0px;
$scene01101-y: 2024px;
$scene01101-offset-x: 0px;
$scene01101-offset-y: -2024px;
$scene01101-width: 160px;
$scene01101-height: 92px;
$scene01101-total-width: 160px;
$scene01101-total-height: 4324px;
$scene01101-image: '../img/sprite.png';
$scene01101: (0px, 2024px, 0px, -2024px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01101', );
$scene01151-name: 'scene01151';
$scene01151-x: 0px;
$scene01151-y: 0px;
$scene01151-offset-x: 0px;
$scene01151-offset-y: 0px;
$scene01151-width: 160px;
$scene01151-height: 92px;
$scene01151-total-width: 160px;
$scene01151-total-height: 4324px;
$scene01151-image: '../img/sprite.png';
$scene01151: (0px, 0px, 0px, 0px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01151', );
$scene01201-name: 'scene01201';
$scene01201-x: 0px;
$scene01201-y: 2208px;
$scene01201-offset-x: 0px;
$scene01201-offset-y: -2208px;
$scene01201-width: 160px;
$scene01201-height: 92px;
$scene01201-total-width: 160px;
$scene01201-total-height: 4324px;
$scene01201-image: '../img/sprite.png';
$scene01201: (0px, 2208px, 0px, -2208px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01201', );
$scene01251-name: 'scene01251';
$scene01251-x: 0px;
$scene01251-y: 2300px;
$scene01251-offset-x: 0px;
$scene01251-offset-y: -2300px;
$scene01251-width: 160px;
$scene01251-height: 92px;
$scene01251-total-width: 160px;
$scene01251-total-height: 4324px;
$scene01251-image: '../img/sprite.png';
$scene01251: (0px, 2300px, 0px, -2300px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01251', );
$scene01301-name: 'scene01301';
$scene01301-x: 0px;
$scene01301-y: 2392px;
$scene01301-offset-x: 0px;
$scene01301-offset-y: -2392px;
$scene01301-width: 160px;
$scene01301-height: 92px;
$scene01301-total-width: 160px;
$scene01301-total-height: 4324px;
$scene01301-image: '../img/sprite.png';
$scene01301: (0px, 2392px, 0px, -2392px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01301', );
$scene01351-name: 'scene01351';
$scene01351-x: 0px;
$scene01351-y: 2484px;
$scene01351-offset-x: 0px;
$scene01351-offset-y: -2484px;
$scene01351-width: 160px;
$scene01351-height: 92px;
$scene01351-total-width: 160px;
$scene01351-total-height: 4324px;
$scene01351-image: '../img/sprite.png';
$scene01351: (0px, 2484px, 0px, -2484px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01351', );
$scene01401-name: 'scene01401';
$scene01401-x: 0px;
$scene01401-y: 2576px;
$scene01401-offset-x: 0px;
$scene01401-offset-y: -2576px;
$scene01401-width: 160px;
$scene01401-height: 92px;
$scene01401-total-width: 160px;
$scene01401-total-height: 4324px;
$scene01401-image: '../img/sprite.png';
$scene01401: (0px, 2576px, 0px, -2576px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01401', );
$scene01451-name: 'scene01451';
$scene01451-x: 0px;
$scene01451-y: 2668px;
$scene01451-offset-x: 0px;
$scene01451-offset-y: -2668px;
$scene01451-width: 160px;
$scene01451-height: 92px;
$scene01451-total-width: 160px;
$scene01451-total-height: 4324px;
$scene01451-image: '../img/sprite.png';
$scene01451: (0px, 2668px, 0px, -2668px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01451', );
$scene01501-name: 'scene01501';
$scene01501-x: 0px;
$scene01501-y: 2760px;
$scene01501-offset-x: 0px;
$scene01501-offset-y: -2760px;
$scene01501-width: 160px;
$scene01501-height: 92px;
$scene01501-total-width: 160px;
$scene01501-total-height: 4324px;
$scene01501-image: '../img/sprite.png';
$scene01501: (0px, 2760px, 0px, -2760px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01501', );
$scene01551-name: 'scene01551';
$scene01551-x: 0px;
$scene01551-y: 2852px;
$scene01551-offset-x: 0px;
$scene01551-offset-y: -2852px;
$scene01551-width: 160px;
$scene01551-height: 92px;
$scene01551-total-width: 160px;
$scene01551-total-height: 4324px;
$scene01551-image: '../img/sprite.png';
$scene01551: (0px, 2852px, 0px, -2852px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01551', );
$scene01601-name: 'scene01601';
$scene01601-x: 0px;
$scene01601-y: 2944px;
$scene01601-offset-x: 0px;
$scene01601-offset-y: -2944px;
$scene01601-width: 160px;
$scene01601-height: 92px;
$scene01601-total-width: 160px;
$scene01601-total-height: 4324px;
$scene01601-image: '../img/sprite.png';
$scene01601: (0px, 2944px, 0px, -2944px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01601', );
$scene01651-name: 'scene01651';
$scene01651-x: 0px;
$scene01651-y: 3036px;
$scene01651-offset-x: 0px;
$scene01651-offset-y: -3036px;
$scene01651-width: 160px;
$scene01651-height: 92px;
$scene01651-total-width: 160px;
$scene01651-total-height: 4324px;
$scene01651-image: '../img/sprite.png';
$scene01651: (0px, 3036px, 0px, -3036px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01651', );
$scene01701-name: 'scene01701';
$scene01701-x: 0px;
$scene01701-y: 3128px;
$scene01701-offset-x: 0px;
$scene01701-offset-y: -3128px;
$scene01701-width: 160px;
$scene01701-height: 92px;
$scene01701-total-width: 160px;
$scene01701-total-height: 4324px;
$scene01701-image: '../img/sprite.png';
$scene01701: (0px, 3128px, 0px, -3128px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01701', );
$scene01751-name: 'scene01751';
$scene01751-x: 0px;
$scene01751-y: 3220px;
$scene01751-offset-x: 0px;
$scene01751-offset-y: -3220px;
$scene01751-width: 160px;
$scene01751-height: 92px;
$scene01751-total-width: 160px;
$scene01751-total-height: 4324px;
$scene01751-image: '../img/sprite.png';
$scene01751: (0px, 3220px, 0px, -3220px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01751', );
$scene01801-name: 'scene01801';
$scene01801-x: 0px;
$scene01801-y: 3312px;
$scene01801-offset-x: 0px;
$scene01801-offset-y: -3312px;
$scene01801-width: 160px;
$scene01801-height: 92px;
$scene01801-total-width: 160px;
$scene01801-total-height: 4324px;
$scene01801-image: '../img/sprite.png';
$scene01801: (0px, 3312px, 0px, -3312px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01801', );
$scene01851-name: 'scene01851';
$scene01851-x: 0px;
$scene01851-y: 3404px;
$scene01851-offset-x: 0px;
$scene01851-offset-y: -3404px;
$scene01851-width: 160px;
$scene01851-height: 92px;
$scene01851-total-width: 160px;
$scene01851-total-height: 4324px;
$scene01851-image: '../img/sprite.png';
$scene01851: (0px, 3404px, 0px, -3404px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01851', );
$scene01901-name: 'scene01901';
$scene01901-x: 0px;
$scene01901-y: 3496px;
$scene01901-offset-x: 0px;
$scene01901-offset-y: -3496px;
$scene01901-width: 160px;
$scene01901-height: 92px;
$scene01901-total-width: 160px;
$scene01901-total-height: 4324px;
$scene01901-image: '../img/sprite.png';
$scene01901: (0px, 3496px, 0px, -3496px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01901', );
$scene01951-name: 'scene01951';
$scene01951-x: 0px;
$scene01951-y: 3588px;
$scene01951-offset-x: 0px;
$scene01951-offset-y: -3588px;
$scene01951-width: 160px;
$scene01951-height: 92px;
$scene01951-total-width: 160px;
$scene01951-total-height: 4324px;
$scene01951-image: '../img/sprite.png';
$scene01951: (0px, 3588px, 0px, -3588px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene01951', );
$scene02001-name: 'scene02001';
$scene02001-x: 0px;
$scene02001-y: 3680px;
$scene02001-offset-x: 0px;
$scene02001-offset-y: -3680px;
$scene02001-width: 160px;
$scene02001-height: 92px;
$scene02001-total-width: 160px;
$scene02001-total-height: 4324px;
$scene02001-image: '../img/sprite.png';
$scene02001: (0px, 3680px, 0px, -3680px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene02001', );
$scene02051-name: 'scene02051';
$scene02051-x: 0px;
$scene02051-y: 3772px;
$scene02051-offset-x: 0px;
$scene02051-offset-y: -3772px;
$scene02051-width: 160px;
$scene02051-height: 92px;
$scene02051-total-width: 160px;
$scene02051-total-height: 4324px;
$scene02051-image: '../img/sprite.png';
$scene02051: (0px, 3772px, 0px, -3772px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene02051', );
$scene02101-name: 'scene02101';
$scene02101-x: 0px;
$scene02101-y: 3864px;
$scene02101-offset-x: 0px;
$scene02101-offset-y: -3864px;
$scene02101-width: 160px;
$scene02101-height: 92px;
$scene02101-total-width: 160px;
$scene02101-total-height: 4324px;
$scene02101-image: '../img/sprite.png';
$scene02101: (0px, 3864px, 0px, -3864px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene02101', );
$scene02151-name: 'scene02151';
$scene02151-x: 0px;
$scene02151-y: 3956px;
$scene02151-offset-x: 0px;
$scene02151-offset-y: -3956px;
$scene02151-width: 160px;
$scene02151-height: 92px;
$scene02151-total-width: 160px;
$scene02151-total-height: 4324px;
$scene02151-image: '../img/sprite.png';
$scene02151: (0px, 3956px, 0px, -3956px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene02151', );
$scene02201-name: 'scene02201';
$scene02201-x: 0px;
$scene02201-y: 4048px;
$scene02201-offset-x: 0px;
$scene02201-offset-y: -4048px;
$scene02201-width: 160px;
$scene02201-height: 92px;
$scene02201-total-width: 160px;
$scene02201-total-height: 4324px;
$scene02201-image: '../img/sprite.png';
$scene02201: (0px, 4048px, 0px, -4048px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene02201', );
$scene02251-name: 'scene02251';
$scene02251-x: 0px;
$scene02251-y: 4140px;
$scene02251-offset-x: 0px;
$scene02251-offset-y: -4140px;
$scene02251-width: 160px;
$scene02251-height: 92px;
$scene02251-total-width: 160px;
$scene02251-total-height: 4324px;
$scene02251-image: '../img/sprite.png';
$scene02251: (0px, 4140px, 0px, -4140px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene02251', );
$scene02301-name: 'scene02301';
$scene02301-x: 0px;
$scene02301-y: 4232px;
$scene02301-offset-x: 0px;
$scene02301-offset-y: -4232px;
$scene02301-width: 160px;
$scene02301-height: 92px;
$scene02301-total-width: 160px;
$scene02301-total-height: 4324px;
$scene02301-image: '../img/sprite.png';
$scene02301: (0px, 4232px, 0px, -4232px, 160px, 92px, 160px, 4324px, '../img/sprite.png', 'scene02301', );
$spritesheet-width: 160px;
$spritesheet-height: 4324px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($scene00001, $scene00051, $scene00101, $scene00151, $scene00201, $scene00251, $scene00301, $scene00351, $scene00401, $scene00451, $scene00501, $scene00551, $scene00601, $scene00651, $scene00701, $scene00751, $scene00801, $scene00851, $scene00901, $scene00951, $scene01001, $scene01051, $scene01101, $scene01151, $scene01201, $scene01251, $scene01301, $scene01351, $scene01401, $scene01451, $scene01501, $scene01551, $scene01601, $scene01651, $scene01701, $scene01751, $scene01801, $scene01851, $scene01901, $scene01951, $scene02001, $scene02051, $scene02101, $scene02151, $scene02201, $scene02251, $scene02301, );
$spritesheet: (160px, 4324px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
